body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  *, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }

  .wrap {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    
    #radio-wrap {
      border: solid 2px white;
    }
    
    #slide {
        width: 800px;
        height: auto;
      border-radius: 5px;
    }
    
    button:hover {
      cursor: pointer;
    }
  }
  