body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

.header {
  width: 100%;
  height: 15rem;
  background-color: #9c5eec;
  padding: 30px 40px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  input {
    margin-top: 10px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
  }

  .addBtn {
    padding: 10px;
    margin-top: 20px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    
    &:hover {
      background-color: #bbb;
    }
  }
}


ul {
  margin: 0;
  padding: 0;
  
  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    
    &:hover {
      background: #ddd;
    }
    
    &.checked {
      background: rgb(44, 144, 18);
      color: #fff;
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  
  &:hover {
    background-color: #f44336;
    color: white;
  }
}
  

  


  